@using AstralNotes.Database.Enums
@model AstralNotes.API.ViewModels.HomeView
@{
    ViewData["Title"] = "Home Page";
    const int contentMaxLenght = 100;
}
 
<div class="NotesGallery">
    @if (User.Identity.IsAuthenticated)
    {
        <form method="get">
            <div class="form-inline form-group">
                @Html.TextBox("Search", Model.NoteFilter.Search, 
                    new {@class = "form-control", placeholder = "Поиск по содержимому..."})
                @Html.DropDownList("Category", Html.GetEnumSelectList<NoteCategory>(), new {@class = "form-control"})
                
                <input type="submit" value="Поиск" class="btn btn-default"/>
                
                <a class="CreateNoteLink btn btn-default  navbar-right" asp-controller="Home" asp-action="GetPdfReport">Преобразовать заметки в pdf</a>
                <a class="CreateNoteLink btn btn-default  navbar-right" asp-controller="Note" asp-action="Create">Создать заметку</a>
            </div>
        </form>
        
        <div class="NoteList">
            @foreach (var note in Model.NoteModels)
            {
                var content = note.Content.Length <= contentMaxLenght
                    ? note.Content
                    : note.Content.Substring(0, contentMaxLenght); 
                
                <div class="Note">
                    <a href="http://localhost:5000/Note/@note.NoteGuid">
                        <img src="http://localhost:5000/Avaters/@note.FileGuid" /> 
                    </a>
                    <a href="http://localhost:5000/Note/@note.NoteGuid" class="NoteTitle caption">
                        <h3 >@note.Title</h3>
                    </a>
                    
                    <div class="NoteText"> @content </div>
                    <div class="NoteFooter">
                        <a class="NoteFooter1 "href="http://localhost:5000/Note/Remove/@note.NoteGuid">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </a>
                        
                        <span class="NoteFooter2">@note.CreationDate.ToString("d")</span>
                    </div>
                </div>
            }
        </div>
    }    
    else
    {
        <div class="WelcomeText thumbnail">
            <h2 class="text-center">Добро пожаловать на сайт NoteBook для того, чтобы воспользоваться сервисом для заметок авторизируйтесь</h2>
        </div>
    }

</div>