@model IEnumerable<AstralNotes.Domain.Notes.Models.NoteShortModel>
@{
    ViewData["Title"] = "Home Page";
}
 
<div class="NotesGallery">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            @foreach (var note in Model)
            {
                <div class="Note col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="http://localhost:5000/Avaters/@note.FileGuid" alt="@note.FileGuid">
                        <div class="caption">
                            <div class="NoteText">@note.Description</div>
                            <p>
                                <a class="btn btn-primary" role="button">Button</a>
                                <label class="btn btn-primary" for="submit-form" tabindex="0">Удалить</label>
                                <form type="hidden" asp-controller="Note" asp-action="Delete" asp-route-id="@note.NoteGuid" method="post">
                                   <input type="submit" id="submit-form" class="hidden" />
                                </form>
                                
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }    
    else
    {
        <div class="WelcomeText thumbnail">
            <h2 class="text-center">Добро пожаловать на сайт AstralNotes, чтобы воспользоваться сервисом для заметок авторизируйтесь</h2>
        </div>
       
    }
    

    @*    <p>@Model.FileStream</p>*@

</div>