@model AstralNotes.Domain.Notes.Models.NoteModel

<div class="clearfix ">
    <h1 align="center" class="SingleNote col-md-6 col-md-offset-3">Просмотр заметки</h1>
    <div class="SingleNote col-md-6 col-md-offset-3">
        <div class="thumbnail">
            <h2>@Model.Content</h2>
        </div>
    </div>
   <div class="SingleNote col-md-6 col-md-offset-3"></div>
</div>